$maxColumns: 12;
$total-width: 100;
$gutter: 10px;

@function getWidth($cols, $base: 12){
    @return ($cols*$total-width / $base)*1%;
}

.grid{
    width: 100%;
    height: auto;

    & > div[class^='c-']{
        float: left;
        padding-left: $gutter;
        padding-right: $gutter;
        box-sizing: border-box;
    }

    &:after{
        content: "";
        display: table;
        clear: both;
    }

    &.no-gutter{
        & > div[class^='c-']{
            padding: 0;
        }
    }
    
    &.same-height{
        overflow: hidden;

        & > div[class^='c-']{
            margin-bottom: -99999px;
            padding-bottom: 99999px;
        }
    }

    .c-1{
        width: getWidth($maxColumns, $maxColumns);
    }

    .c-1-2{
        width: getWidth(1, 2);
    }

    .c-2{
        @extend .c-1;
    }

    .c-1-3{
        width: getWidth(1, 3);
    }

    .c-2-3{
        width: getWidth(2, 3);
    }

    .c-1-4{
        width: getWidth(1, 4);
    }

    .c-2-4{
        width: getWidth(2, 4);
    }

    .c-3-4{
        width: getWidth(3, 4);
    }

    .c-4{
        @extend .c-1;
    }


    .c-1-6{
        width: getWidth(1, 6);
    }

    .c-2-6{
        width: getWidth(2, 6);
    }

    .c-3-6{
        width: getWidth(3, 6);
    }

    .c-4-6{
        width: getWidth(4, 6);
    }

    .c-5-6{
        width: getWidth(4, 6);
    }

    .c-6-6{
        @extend .c-1;
    }

    /* 12 Column Based */
    .c-1-12{
        width: getWidth(1, 12);
    }

    .c-2-12{
        width: getWidth(2, 12);
    }

    .c-3-12{
        width: getWidth(3, 12);
    }

    .c-4-12{
        width: getWidth(4, 12);
    }

    .c-5-12{
        width: getWidth(5, 12);
    }

    .c-6-12{
        width: getWidth(6, 12);
    }

    .c-7-12{
        width: getWidth(7, 12);
    }

    .c-8-12{
        width: getWidth(8, 12);
    }

    .c-9-12{
        width: getWidth(9, 12);
    }

    .c-10-12{
        width: getWidth(10, 12);
    }

    .c-11-12{
        width: getWidth(11, 12);
    }

    .c-12-12{
        width: getWidth(12, 12);
    }

}
