$maxColumns: 12;
$total-width: 100;
$gutter: 10px;

@function getWidth($cols, $base: 12){
    @return ($cols*$total-width / $base)*1%;
}

.grid{
    width: 100%;
    height: auto;

    & > div[class^='c-']{
        float: left;
        padding-left: $gutter;
        padding-right: $gutter;
        box-sizing: border-box;
    }

    &:after{
        content: "";
        display: table;
        clear: both;
    }

    &.no-gutter{
        & > div[class^='c-']{
            padding: 0;
        }
    }
    
    &.same-height{
        overflow: hidden;

        & > div[class^='c-']{
            margin-bottom: -99999px;
            padding-bottom: 99999px;
        }
    }

    .c-1{
        width: getWidth(1, $maxColumns);
    }

    .c-2{
        width: getWidth(2, $maxColumns);
    }
    
    .c-3{
        width: getWidth(3, $maxColumns);
    }
    
    .c-4{
        width: getWidth(4, $maxColumns);
    }
    
    .c-5{
        width: getWidth(5, $maxColumns);
    }
    
    .c-6{
        width: getWidth(6, $maxColumns);
    }
    
    .c-7{
        width: getWidth(7, $maxColumns);
    }
    
    .c-8{
        width: getWidth(8, $maxColumns);
    }
    
    .c-9{
        width: getWidth(9, $maxColumns);
    }
    
    .c-10{
        width: getWidth(10, $maxColumns);
    }
    
    .c-11{
        width: getWidth(11, $maxColumns);
    }
    
    .c-12{
        width: getWidth(12, $maxColumns);
    }

    /*
     * MOBILE
     */
    
    @include mobile-only{
        .c-m-1{
            width: getWidth(1, $maxColumns);
        }

        .c-m-2{
            width: getWidth(2, $maxColumns);
        }
        
        .c-m-3{
            width: getWidth(3, $maxColumns);
        }
        
        .c-m-4{
            width: getWidth(4, $maxColumns);
        }
        
        .c-m-5{
            width: getWidth(5, $maxColumns);
        }
        
        .c-m-6{
            width: getWidth(6, $maxColumns);
        }
        
        .c-m-7{
            width: getWidth(7, $maxColumns);
        }
        
        .c-m-8{
            width: getWidth(8, $maxColumns);
        }
        
        .c-m-9{
            width: getWidth(9, $maxColumns);
        }
        
        .c-m-10{
            width: getWidth(10, $maxColumns);
        }
        
        .c-m-11{
            width: getWidth(11, $maxColumns);
        }
        
        .c-m-12{
            width: getWidth(12, $maxColumns);
        }
    }

    @include tablet{
        .c-t-1{
            width: getWidth(1, $maxColumns);
        }

        .c-t-2{
            width: getWidth(2, $maxColumns);
        }
        
        .c-t-3{
            width: getWidth(3, $maxColumns);
        }
        
        .c-t-4{
            width: getWidth(4, $maxColumns);
        }
        
        .c-t-5{
            width: getWidth(5, $maxColumns);
        }
        
        .c-t-6{
            width: getWidth(6, $maxColumns);
        }
        
        .c-t-7{
            width: getWidth(7, $maxColumns);
        }
        
        .c-t-8{
            width: getWidth(8, $maxColumns);
        }
        
        .c-t-9{
            width: getWidth(9, $maxColumns);
        }
        
        .c-t-10{
            width: getWidth(10, $maxColumns);
        }
        
        .c-t-11{
            width: getWidth(11, $maxColumns);
        }
        
        .c-t-12{
            width: getWidth(12, $maxColumns);
        }
    }

    @include desktop{
        .c-d-1{
            width: getWidth(1, $maxColumns);
        }

        .c-d-2{
            width: getWidth(2, $maxColumns);
        }
        
        .c-d-3{
            width: getWidth(3, $maxColumns);
        }
        
        .c-d-4{
            width: getWidth(4, $maxColumns);
        }
        
        .c-d-5{
            width: getWidth(5, $maxColumns);
        }
        
        .c-d-6{
            width: getWidth(6, $maxColumns);
        }
        
        .c-d-7{
            width: getWidth(7, $maxColumns);
        }
        
        .c-d-8{
            width: getWidth(8, $maxColumns);
        }
        
        .c-d-9{
            width: getWidth(9, $maxColumns);
        }
        
        .c-d-10{
            width: getWidth(10, $maxColumns);
        }
        
        .c-d-11{
            width: getWidth(11, $maxColumns);
        }
        
        .c-d-12{
            width: getWidth(12, $maxColumns);
        }
    }
}
