html,
body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

#mainContainer{
    max-width: 1024px;
    margin: 0 auto;
}

[class*='grid'] > div{
    background-color: #fcd4d4;
    border: solid 1px #f2abab;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid{
    /*margin-bottom: 10px;*/
}